.categorys-submenu{
  width: 12rem;
  position: absolute;
  list-style: none;
  text-align: start;
  top: 180px;
  overflow: hidden;
  z-index: 100;
  margin-left: -2rem;
 
  li{
    background: #282c34;
    cursor:pointer;
    padding-left: 1rem;

    .submenu-item{
      display:block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: white;
      padding: 10px;
    }
    &:hover{
      background: #545d6e
    }
  }
};

.categorys-submenu.clicked{
  display:none
}