.navBar{
  height: 8vh;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top:1rem;

  .navBar-navItems{
    display:flex;
    list-style: none;
    text-align:center;
    width: 70vw;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-left: 2.1rem;
    
    .nav-item{
      display: flex;
      align-items: center;
      font-weight: bold;
      height: 10vh;
      font-size: 1.1rem;
      margin-right: 5.5rem;
      color: #737f96;
      cursor: pointer;
     
      &:hover{
        color: #282c34;
      } 
    }
  }
}

