.navBar{
  height: 8vh;
  margin-top:.5rem;
  display: flex;
  justify-content:center;
  align-items:center;

  .navBar-option{
    color: #282c34;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 8rem;
  }
}

